.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  justify-content: space-between;
  width: 300px;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 7px;
  margin-left: 10px;
  background-color: whitesmoke;
}
.title {
  font-size: 20px;
  margin-left: 10px;
}

.cardscontainer {
  margin-top: 5px;
}
